<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jizhiwei.dao.AddressMapper">
  <resultMap id="BaseResultMap" type="com.jizhiwei.entity.Address">
    <id column="add_id" jdbcType="INTEGER" property="addId" />
    <result column="add_city" jdbcType="VARCHAR" property="addCity" />
    <result column="add_area" jdbcType="VARCHAR" property="addArea" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    add_id, add_city, add_area
  </sql>
  <select id="selectByExample" parameterType="com.jizhiwei.entity.AddressExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from address
    where add_id = #{addId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from address
    where add_id = #{addId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jizhiwei.entity.AddressExample">
    delete from address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jizhiwei.entity.Address">
    insert into address (add_id, add_city, add_area
      )
    values (#{addId,jdbcType=INTEGER}, #{addCity,jdbcType=VARCHAR}, #{addArea,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jizhiwei.entity.Address">
    insert into address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="addId != null">
        add_id,
      </if>
      <if test="addCity != null">
        add_city,
      </if>
      <if test="addArea != null">
        add_area,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="addId != null">
        #{addId,jdbcType=INTEGER},
      </if>
      <if test="addCity != null">
        #{addCity,jdbcType=VARCHAR},
      </if>
      <if test="addArea != null">
        #{addArea,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jizhiwei.entity.AddressExample" resultType="java.lang.Long">
    select count(*) from address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update address
    <set>
      <if test="record.addId != null">
        add_id = #{record.addId,jdbcType=INTEGER},
      </if>
      <if test="record.addCity != null">
        add_city = #{record.addCity,jdbcType=VARCHAR},
      </if>
      <if test="record.addArea != null">
        add_area = #{record.addArea,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update address
    set add_id = #{record.addId,jdbcType=INTEGER},
      add_city = #{record.addCity,jdbcType=VARCHAR},
      add_area = #{record.addArea,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jizhiwei.entity.Address">
    update address
    <set>
      <if test="addCity != null">
        add_city = #{addCity,jdbcType=VARCHAR},
      </if>
      <if test="addArea != null">
        add_area = #{addArea,jdbcType=VARCHAR},
      </if>
    </set>
    where add_id = #{addId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jizhiwei.entity.Address">
    update address
    set add_city = #{addCity,jdbcType=VARCHAR},
      add_area = #{addArea,jdbcType=VARCHAR}
    where add_id = #{addId,jdbcType=INTEGER}
  </update>
</mapper>